* {
    margin: 0;
    font-family: 'Arial';
}

header {
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #222;
    box-sizing: border-box;
}

header form {
    margin-top: 22px;
}

header form .search {
    text-align: center;
    border-color: #222;
}

.btn-add, .btn-back {
    color: #222;
    font-size: 40px;
    display: block;
    margin-top: 7px;
}

.card {
    border-color: #222;
    background: #222;
    color: #fff;
}

.card:hover {
    border: 1px solid white;
    box-shadow: 0px 0px 10px #222;
    transform: scale(1.03)
}

.card .action a {
    margin-right: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.card .action a:last-child {
    color: rgb(255, 255, 255);
}

.card .action a:last-child:hover {
    color: rgb(197, 73, 73);
}

.register main input, .register main textarea {
    border-color: #222;
}

.register main button {
    background-color: #fff;
    border-color: #222;
    color: #222;
}

.error {
    border-color: red !important;
}